global:
  domain: staging.fhirhub.example.com
  storageClass: standard

hapi-postgresql:
  persistence:
    size: 10Gi

keycloak-postgresql:
  persistence:
    size: 5Gi

hapi-fhir:
  replicaCount: 1
  hpa:
    enabled: true
    minReplicas: 1
    maxReplicas: 3

keycloak:
  ingress:
    enabled: true
    hosts:
      - host: auth.staging.fhirhub.example.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: keycloak-tls
        hosts:
          - auth.staging.fhirhub.example.com

fhirhub-api:
  replicaCount: 2
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - host: staging.fhirhub.example.com
        paths:
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
    tls:
      - secretName: api-tls
        hosts:
          - staging.fhirhub.example.com
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
  serviceMonitor:
    enabled: true

fhirhub-frontend:
  replicaCount: 2
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - host: staging.fhirhub.example.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: frontend-tls
        hosts:
          - staging.fhirhub.example.com
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
  serviceMonitor:
    enabled: true
