image:
  repository: postgres
  tag: "18-alpine"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5432

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

database:
  name: ""
  username: ""
  password: ""

persistence:
  enabled: true
  size: 10Gi
  storageClass: ""

probes:
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 10
  liveness:
    initialDelaySeconds: 30
    periodSeconds: 10
