apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "keycloak.fullname" . }}-config
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
data:
  KC_REALM: {{ .Values.realm | quote }}
  KC_HEALTH_ENABLED: "true"
  KC_HTTP_ENABLED: "true"
