replicaCount: 2

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: ""
      paths:
        - path: /api(/|$)(.*)
          pathType: ImplementationSpecific
  tls: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  ASPNETCORE_ENVIRONMENT: Production
  ASPNETCORE_URLS: "http://+:8080"

secrets:
  hapiFhirBaseUrl: ""
  keycloakAuthority: ""
  keycloakAudience: ""
  keycloakAdminApiBaseUrl: ""
  keycloakRealm: "fhirhub"
  keycloakBackendClientId: "fhirhub-backend"
  keycloakBackendClientSecret: ""

probes:
  readiness:
    path: /api/dashboard/metrics
    port: 8080
    initialDelaySeconds: 10
    periodSeconds: 10
  liveness:
    path: /api/dashboard/metrics
    port: 8080
    initialDelaySeconds: 15
    periodSeconds: 20

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPU: 70

pdb:
  enabled: true
  minAvailable: 1

serviceMonitor:
  enabled: false
  path: /metrics
  interval: 30s

serviceAccount:
  create: true
  name: ""
  annotations: {}
